<%= form_for [@user, @pin], html: { multipart: true } do |f| %>
  <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2> 
        <%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved: 
      </h2>
      
      <ul>
        <% pin.errors.full_messages.each do |message| %>
          <li> 
            <%= message %> 
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h5> <%= f.label "Title for your pin" %></h5> 
    <%= f.text_field :title %>
  </div>

  <div class='field'>
    <h5> <%= f.label "Choose an image" %> </h5>
    <%= f.file_field :image %>
  </div>

   <div class="field">
    <h5> <%= f.label "Description"%> </h5>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <h5> <%= f.label "Link"%> </h5>
    <%= f.text_field :link %>
  </div>


  <div class='field'>
    <h5> Pick a category to add your pin to! </h5>
    <%= render 'categories/categories' %>
  </div>

  <div class="actions field">
    <%= f.submit %>
  </div>

<% end %>
