<p id="notice"><%= notice %></p>
<div id="show">
  <a href="#" class="js-next" data-id="<%=@pin.id%>">Next...</a>
  <%= render partial: 'logged_in', locals: {pin: @pin} %>
  <div id="title">
    <h2 class="title"> <%= @pin.title %> </h2>
  </div>
  <div id="descrip">
    <% if @pin.link%>
    <p class="link"> <%= link_to "#{@pin.link}", "#{@pin.link}" %> </p>
    <% end %>
    </br>
   <p class="description"> <%= @pin.description %> </p>
  </div>
  <div class="container">
    <div class="image">
      <%= link_to (image_tag @pin.image.url), @pin %>
    </div>
  </div>
</div>

<br><br><br><br><br><br>

<div class= "form container">
  <% if !current_user.nil? %>
    <%= render partial: 'comments/form', locals: {pin: @pin} %>
    <% end %>
  <center>
  </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<ul id="comments">

  <center><button class="js-more" data-id="<%= @pin.id %>">Load comments</button></center>


<br><br><br><br><br>

<script type="text/javascript" charset="utf-8">
    $("#new_comment").on("submit", function(e) {
      event.preventDefault();
      var values = $(this).serialize();
      let form = this; 
      $.ajax({
        url: this.action,
        data: $(this).serialize(),
        method: 'POST',
        success: function(data) {
          console.log(data)
          const content = data.content 
          const username = data.username
         /* $('#comments').append(`<h2> ${title} </h2>`)
          $('#comments').append(`<p> ${content} </p>`) */ 
          let newComment = new Comment(data.content, data.username)
          let commentHTML = newComment.formatComment()
          $('#comments').prepend(commentHTML)
          $('#new_comment input:submit').prop('disabled',false);
          form.reset();
        }
      })
    })

      Comment.prototype.formatComment = function() {
      return `<h5> ${this.username} </h5> <center> <p> ${this.content} </p> </center><hr>`
    }

    function Comment(content, username) {
      this.content = content
      this.username = username 
    }

    function toHTML(comment) {
      return `<h5> ${comment.username} </h5> <center> <p> ${comment.content} </p> </center><hr>`

    }

  
</script>


<script type="text/javascript" charset="utf-8">
    $(function() {
      $(".js-more").on("click", function() {
        $('.js-more').hide();
        var id = $(this).data("id");
        $.get("/pins/" + id + ".json", function(data) {
            let comments = data["comments"];
            let cHTML = ``
            comments.forEach(function(comment) {
              cHTML += toHTML(comment)
            })
            $('#comments').prepend(cHTML)
        });
  });
});

</script>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    debugger
    $.get("/pins/" + nextId + ".json", function(data) {
      debugger
     $(".title").text(data["title"]);
      $("#descrip").text(data["description"]);
      // re-set the id to current on the link
      $("#js-next").attr("data-id", data["id"]);
    });
  });
});
</script>




