<p id="notice"><%= notice %></p>
<div id="show"> 
  <%= render partial: 'logged_in', locals: {pin: @pin} %> 

  <div id="title">
    <%= @pin.title %>
  </div> 

  <div id="descrip">
    <% if @pin.link%>
      <%= link_to "#{@pin.link}", "#{@pin.link}" %>
    <% end %> 

     </br> 

    <%= @pin.description %>
  </div> 

  <div class="container">
    <div class="image">
      <%= link_to (image_tag @pin.image.url), @pin %>
    </div> 
</div>

  </div><br><br>
<div> <br><br><br><br><br><br>
  <% if !current_user.nil? %> 
  <center><p> ghhghgh </p>
  <%= render :partial => "comments/form", :locals => {:comment => Comment.new, :pin => @pin} %> </center>
  <% end %>


</div>
