<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<% if user_signed_in? %>
  <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-secondary" do %>
    <span class="glyphicon glyphicon-heart"></span>
    <i class="fa fa-heart"></i>
		<%= @pin.get_upvotes.size %>
<% end %>


  <% if current_user == @user %> 
    <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
    <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
   <% end %> 
<% end %>
