<p id="notice"><%= notice %></p>
<div id="show">
  <%= render partial: 'logged_in', locals: {pin: @pin} %>
  <div id="title">
    <%= @pin.title %>
  </div>
  <div id="descrip">
    <% if @pin.link%>
    <%= link_to "#{@pin.link}", "#{@pin.link}" %>
    <% end %>
    </br>
    <%= @pin.description %>
  </div>
  <div class="container">
    <div class="image">
      <%= link_to (image_tag @pin.image.url), @pin %>
    </div>
  </div>
</div><br><br><br><br><br><br>

<div class= "form container">
  <% if !current_user.nil? %>
    <%= render partial: 'comments/form', locals: {pin: @pin} %>
    <% end %>
  <center>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<ul id="comments">


<% @pin.comments.each do |comment| %>
  <h6><i><% comment.username %></h6></i>
 <center> <p><% comment.content %> <p> <hr> </center>
<% end %>
</ul>

  <center><button class="js-more" data-id="<%= @pin.id %>">Load more comments</button></center>


<br><br><br><br><br>

<script type="text/javascript" charset="utf-8">
    $("#new_comment").on("submit", function(e) {
      event.preventDefault();
      var values = $(this).serialize();
      var that = this;
      $.ajax({
        url: this.action,
        data: $(this).serialize(),
        method: 'POST',
        success: function(data) {
          console.log(data)
          const content = data.content 
          const username = data.username
         /* $('#comments').append(`<h2> ${title} </h2>`)
          $('#comments').append(`<p> ${content} </p>`) */ 
          let newComment = new Comment(data.content, data.username)
          let commentHTML = newComment.formatComment()
          $('#comments').prepend(commentHTML)
          $('#new_comment input:submit').prop('disabled',false);

that.reset();
        }
      })
    })

      Comment.prototype.formatComment = function() {
      return `<h5> ${this.username} </h5> <center> <p> ${this.content} </p> </center><hr>`
    }

    function Comment(content, username) {
      this.content = content
      this.username = username  
    }

    function toHTML(comment) {
      return `<h5> ${comment.username} </h5> <center> <p> ${comment.content} </p> </center><hr>`

    }

  
</script>


<script type="text/javascript" charset="utf-8">
    $(function() {
      $(".js-more").on("click", function() {
        $('.js-more').hide();
        var id = $(this).data("id");
        $.get("/pins/" + id + ".json", function(data) {
            let comments = data["comments"];
            let cHTML = ``
            comments.forEach(function(comment) {
              cHTML += toHTML(comment)
            })
            $('#comments').prepend(cHTML)
        });
  });
});

</script>




