<p id="notice"><%= notice %></p>
<div id="show">
 <% if user_signed_in? %>
    <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-secondary" do %>
      <span class="glyphicon glyphicon-heart"></span>
      <i class="fa fa-heart"></i>
      <%= @pin.get_upvotes.size %>
    <% end %> 
    
    </br></br>

    <% if current_user.pins.include? @pin%> 
       <a href="#" class="js-next" data-id="<%=@pin.id%>">Next...</a>

      <%= link_to "Edit", edit_user_pin_path(current_user), class: "btn btn-default" %>
      <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
    <% end %> 
<% end %>
  <div id="title">
    <p class="new-title"> <%= @pin.title %> </p>
  </div>
  <div id="descrip">
    <% if @pin.link%>
   <p class= "new-link"> <%= link_to "#{@pin.link}", "#{@pin.link}" %> </p>
    <% end %>
    </br>
    <p class="new-descrip"> <%= @pin.description %> </p>
  </div>
  <div class="container">
    <div class="image">

     <p class="new-image"> <%= link_to (image_tag @pin.image.url), @pin %> 


     </p>
    </div>
  </div>
</div>

<br><br><br><br><br><br>

<div class= "form container">
  <% if !current_user.nil? && current_user.pins.exclude?(@pin) %>
    <%= render partial: 'comments/form', locals: {pin: @pin} %>
    <% end %>
  <center>
  </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ul class="append-comments" id="comments">

  <center><button class="js-more" data-id="<%= @pin.id %>">Load comments</button></center>

</ul>
<br><br><br><br><br>

<script type="text/javascript" charset="utf-8">
    $("#new_comment").on("submit", function(e) {
      event.preventDefault();
      var values = $(this).serialize();
      let form = this; 
      $.ajax({
        url: this.action,
        data: $(this).serialize(),
        method: 'POST',
        success: function(data) {
          console.log(data)
          const content = data.content 
          const username = data.username
         /* $('#comments').append(`<h2> ${title} </h2>`)
          $('#comments').append(`<p> ${content} </p>`) */ 
          let newComment = new Comment(data.content, data.username)
          let commentHTML = newComment.formatComment()
          $('#comments').prepend(commentHTML)
          $('#new_comment input:submit').prop('disabled',false);
          form.reset();
        }
      })
    })

      Comment.prototype.formatComment = function() {
      return `<h5> ${this.username} </h5> <center> <p> ${this.content} </p> </center><hr>`
    }

    function Comment(content, username) {
      this.content = content
      this.username = username 
    }

    function toHTML(comment) {
      return `<h5> ${comment.username} </h5> <center> <p> ${comment.content} </p> </center><hr>`

    }

  
</script>


<script type="text/javascript" charset="utf-8">
    $(function() {
      $(".js-more").on("click", function() {
        $('.js-more').hide();
        var id = $(this).data("id");
        $.get("/pins/" + id + ".json", function(data) {
            let comments = data["comments"];
            let cHTML = ``
            comments.forEach(function(comment) {
              cHTML += toHTML(comment)
            })
            $('#comments').prepend(cHTML)
        });
  });
});

</script>

<script type="text/javascript" charset="utf-8">
$(function () {

  $(".js-next").on("click", function() {
    event.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/pins/" + nextId + ".json", function(data) {
      var pin = data;
      $(".new-title").text(pin["title"]);
      $(".new-descrip").text(pin["description"]);
      $(".new-link").text(pin["link"]);
      // re-set the id to current on the link
      let comments = pin["comments"];
      let cHTML = ``
      comments.forEach(function(comment) {
              cHTML += toHTML(comment)
      })
      $('#comments').empty();
      $('#comments').prepend(cHTML)
      $('.image').empty();
      $('.image').val(pin.image)
      $(".js-next").attr("data-id", pin["id"]);
      $(".js-more").attr("data-id", pin["id"]);

    });
  });
});
</script>






