<p id="notice"><%= notice %></p>
<div id="show">
  <%= render partial: 'logged_in', locals: {pin: @pin} %>
  <div id="title">
    <%= @pin.title %>
  </div>
  <div id="descrip">
    <% if @pin.link%>
    <%= link_to "#{@pin.link}", "#{@pin.link}" %>
    <% end %>
    </br>
    <%= @pin.description %>
  </div>
  <div class="container">
    <div class="image">
      <%= link_to (image_tag @pin.image.url), @pin %>
    </div>
  </div>
</div><br><br><br><br><br><br>

<div class= "form container">
  <% if !current_user.nil? %>
    <%= render partial: 'comments/form', locals: {pin: @pin} %>
    <% end %>
  <center>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<ul id="comments">
    
<% @pin.comments.each do |comment| %>
  <h2><%= comment.title %></h2>
  <p><%= comment.content %> <p>
<% end %>
</ul>

<br><br><br><br><br>

<script type="text/javascript" charset="utf-8">
    $("#new_comment").on("submit", function(e) {
      event.preventDefault();
      var values = $(this).serialize();
      $.ajax({
        url: this.action,
        data: $(this).serialize(),
        method: 'POST',
        success: function(data) {
          console.log(data)
          const content = data.content 
          const title = data.title 
          $('#comments').append(`<h2> ${title} </h2>`)
          $('#comments').append(`<p> ${content} </p>`)
          debugger 
        }
      })
    })
</script>




