<%= form_for [current_user, @comment] do |f| %>
	<div class='field'> 
		<h5> <%= f.label "Title for your comment" %></h5> 
    	<%= f.text_field :title %>
	</div>

	<div class='field'>
		<h5><%= f.label "Leave a comment here" %></h5>
		<%= f.text_field :content %>
	</div>


	<div class="actions field">
    	<%= f.submit %>
  	</div>

<% end %> 