<header class="clearfix">
    <div class="container">
			<div class="header-left">
				<h1>Pinterest Clone</h1>
			</div>
			<div class="header-right">
				<label for="open">
					<span class="hidden-desktop"></span>
				</label>
				
        <nav>
				  <% if user_signed_in? %>
            <h5>  
              <%= link_to "Home", root_path %> -
              <%= link_to "My Pins", users_path %> -
              <%= link_to 'New Pin', new_pin_path  %> -
              <%= link_to "Account", edit_user_registration_path  %> -
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
            </h5>
          <% else %>
            <h4>  
              <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %> 
              <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %> 
            </h4>
          <% end %>
			</nav>
		</div>
	</div>
</header>
