<header class="clearfix">
    <div class="container">
			<div class="header-left">
				<h1>Pinterest-like Clone</h1>
			</div>
			<div class="header-right">
				<label for="open">
					<span class="hidden-desktop"></span>
				</label>
				
        <nav>
				  <% if user_signed_in? %>
            <h5>  
              <%= link_to "Home", root_path %> -
              <%= link_to "My Pins", users_path(current_user) %> -
              <%= link_to 'New Pin', new_user_pin_path(current_user)  %> -
              <%= link_to "Account", edit_user_registration_path  %> -
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
            </h5>
            <h5 id="my_pins"><%= link_to "My Pins", :onclick => '$("my-pins").click()' %></h5>
            <h6>Signed in as: <%= User.username(current_user.email) %></h6>
          <% else %>
            <h4>  
              <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %> 
              <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %> 
              
            </h4>
          <% end %>
			</nav>
		</div>
	</div>
</header>
